{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container text-center">
<h1> Hello Musker!! </h1>
<br/><br/>
<div class="row">
<div class="col-8">
{% for meep in meeps %}
    <div class="card text-white bg-secondary mb-3" style="max-width: 40rem;">
        <div class="card-header">
            <div class="row">
                <div class="col-2">
                    {% if meep.user.profile.profile_img %}
                    <img src="{{ meep.user.profile.profile_img.url }}" width=50 height=50 class="rounded-circle" alt="...">
                    {% else %}
                    <img src="{% static 'images/default_profile_pic.png' %}" width=50 height=50 class="rounded-circle" alt="...">
                    {% endif %}
                </div>
                <div class="col-8">
                    {{ meep.user }} - {{ meep.created_at }} 
                </div>
                <div class="col-2">
                    <small>{{ meep.number_of_likes }} - Likes </small><br/>
                    {% if user in meep.likes.all %}
                        <a href="{% url 'meep_like' meep.id %}"><button class="btn btn-danger">Unlike</button></a>
                    {% else %}
                        <a href="{% url 'meep_like' meep.id %}"><button class="btn btn-danger">Like</button></a>
                    {% endif %}
               </div>
            </div>
        </div>
        <div class="card-body">
        <h5 class="card-title"> {{ meep.body }} </h5> 
        </div>
    </div> <br/>
{% endfor %}
</div>

<div class="col-4">
    {% if form %}
    <form method=POST>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% endif %}
</div>
</div>
</div>
{% endblock content %}

